# SuperUser Details
SUPERUSER_USERNAME=admin
SUPERUSER_PASSWORD=admin_pwd

# Backend expose port
EXPOSE_PORT=8000
TRUSTED_ORIGINS=localhost|127.0.0.1|0.0.0.0

# Postgres Variables

# Settings for Database Connectivity
POSTGRES_DB=octavius_db
POSTGRES_USER=octavius_db_user
POSTGRES_PASSWORD=octavius_db_pwd
POSTGRES_HOST=db
POSTGRES_PORT=5432


# NODE Variables
BASE_URL=http://localhost:7000/